<a href="https://colab.research.google.com/github/Minh0237/DA/blob/main/01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

In [2]:
df = pd.read_table("chipotle.tsv")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [3]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
df.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [5]:
# Solution 2
print(len(df))
df.shape[0]

4622

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
df.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
dfcol = df.columns
dfcol

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
dfmax = df.max()
dfmax

<ipython-input-9-1945ff0e9927>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dfmax = df.max()

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price               $9.39
dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
df.loc[df['item_name'] == 'Veggie Soft Tacos'].count()[0]

7

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
df['choice_description'].value_counts().idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [12]:
df['item_name'].nunique()

50

### Step 13. Turn the item price into a float

In [13]:
new_price = df['item_price'].str.replace('$', '').astype(float)

<ipython-input-13-dff7c8e39457>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_price = df['item_price'].str.replace('$', '').astype(float)

#### Step 13.a. Check the item price type

In [14]:
new_price.dtypes

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
df['item_price'] = df['item_price'].apply(lambda x: float(x.replace('$', '')))

#### Step 13.c. Check the item price type

In [16]:
print(df['item_price'].dtypes)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
new_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [18]:
df['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [27]:
# Solution 1
print(df.groupby('order_id')['item_price'].mean())

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price, Length: 1834, dtype: float64

In [29]:
# Solution 2
print(df.groupby('order_id').agg({'item_price': 'mean'}))

          item_price
order_id
1           2.890000
2          16.980000
3           6.335000
4          10.500000
5           6.850000
...              ...
1830       11.500000
1831        4.300000
1832        6.600000
1833       11.750000
1834        9.583333

[1834 rows x 1 columns]

### Step 17. How many different items are sold?

In [21]:
df['item_name'].nunique()

50