<a href="https://colab.research.google.com/github/Minh0237/DA/blob/main/Buoi2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def average(a, b, c, d, e):
  return (a+b+c+d+e) / 5

average(1, 2, 3, 4, 5)

3.0

In [ ]:
def area(a, b, c):
  p = (a + b + c)/2
  return np.sqrt(p * (p - a) * (p - b) * (p - c))

a = int(input())
b = int(input())
c = int(input())
area(a, b, c)

In [ ]:
def area2(x1, y1, x2, y2, x3, y3):
  s = (x2 - x1) * (y3 - y1) - (x3 - x1) * (y2 - y1)
  if s >= 0:
    return s / 2
  else:
    s = 0 - s
    return s / 2

area2(0, 0, 1, 4, 5, 1)

9.5

In [ ]:
def total(n):
  d = 0
  for i in range (0, len(str(n))):
    c = n % 10
    n = n/10
    n = int(n)
    d = c + d
  print(d)

total(123523)

16

In [ ]:
def isFibo(n):
  n1 = 1
  n2 = 1
  n3 = 1
  if n == 1 | n == 2:
    return True
  for i in range(2, n):
    n1 = n2
    n2 = n3
    n3 = n1 + n2
    if n == n3:
      return True
  return False

isFibo(21)

True

In [97]:
def F(n):
  s = 1
  d = 0
  for i in range(1, n+1):
    s = i * s
    d = d + s
  print(d)

F(4)

33

In [ ]:
def xeploai(n):
  while n < 10 and n >= 0:
    if n < 3.5:
      print("yeu")
    elif n >= 3.5 and n < 5:
      print("kem")
    elif n >= 5 and n < 6.5:
      print("trung binh")
    elif n >= 6.5 and n < 8:
      print("kha")
    elif n >= 8 and n < 9:
      print("gioi")
    else:
      print("xuat sac")



n = float(input("Nhap diem trung binh: "))
xeploai(n)

Nhap diem trung binh: 11

In [ ]:
def sosanh(a, b, c):
  if a > b and a > c or b == c:
    print(a)
  elif b > c and b > a or a == c:
    print(b)
  else:
    print(c)

  # if a >= b and a > c:
  #   print(c)
  # elif b >= c and b > a:
  #   print(a)
  # else:
  #   print(b)


a = float(input())
b = float(input())
c = float(input())

sosanh(a, b, c)

5
6
6
5.0

In [96]:
def date(d, m, y):
  if d == 31 and m == 1 or m == 3 or m == 5 or m == 7 or m == 8 or m == 10:
    print("Ngay {} thang {} nam {}".format(1, m+1, y))
  elif d == 30 and m == 4 or m == 6 or m == 9 or m == 11:
    print("Ngay {} thang {} nam {}".format(1, m+1, y))
  elif d == 28 and m == 2:
    print("Ngay {} thang {} nam {}".format(1, m+1, y))
  elif d == 29 and m == 2 and (y % 400 == 0) or ((y % 4 == 0) and (y % 100 != 0)):
    print("Ngay {} thang {} nam {}".format(1, m+1, y))
  elif d == 31 and m == 12:
    print("Ngay {} thang {} nam {}".format(1, 1, y+1))
  elif d >= 1 and d <= 30 and m == 1 or m == 3 or m == 5 or m == 7 or m == 8 or m == 10:
    print("Ngay {} thang {} nam {}".format(d+1, m, y))
  elif d >= 1 and d <= 29 and m == 4 or m == 6 or m == 9 or m == 11:
    print("Ngay {} thang {} nam {}".format(d+1, m, y))
  elif d >= 1 and d <= 28 and m == 2:
    print("Ngay {} thang {} nam {}".format(d+1, m, y))
  else:
    print("Khong ton tai")

d = int(input("Nhap ngay: "))
m = int(input("Nhap thang: "))
y = int(input("Nhap nam: "))

date(d, m, y)

Nhap ngay: 31
Nhap thang: 12
Nhap nam: 2000
Ngay 1 thang 1 nam 2001